<!DOCTYPE html>
<html>
<head>
<title>Friendly Message Sender</title>
<link rel="stylesheet" type="text/css" href="css/style.css">  
</head>
<body>

<h1>Friendly Message Sender</h1>
  <h3>Your message has been sent! Thank you for using FMS!</h3>

  

</body>
</html>