<!DOCTYPE html>
<html>
<head>
<title>Friendly Message Sender</title>
<link rel="stylesheet" type="text/css" href="css/style.css">  
</head>
<body>

<h1>Friendly Message Sender</h1>
  <h3>Your message has been sent! Thank you for using FMS!</h3>
<br>
  <p>If you would like to send another message please click the following link.</p>
  <a href= "http://goo.gl/ecSCa8">Send another message</a>

</body>
</html>