body {
  background-color:#AAAAAA;
  margin:0;
  color:#39392E;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}
form {
  color:#39392E;
  font-family: 'PT Sans', sans-serif;
}

.center {
  text-align:center;
}

/* .category {
  background-color:#DDDDDD;
} */

input.selected {
  background-color:#DDDDDD;
  -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 1s;
}

input.selected:focus {
  background-color:white; 
  
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:black;
  text-align:center;
}

a {
  text-decoration:none;
}

input.submit:hover {
  background-color:#FF4791;
}
.submit {
  height:40px;
  width:60px;
  background-color:#EBF0FA;
  border:none;
  border-radius:5px;
  
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}


#talent_title {
  background-color:#DDDDDD;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

#talent {
background-color:#DDDDDD;
  margin-top: -20px;
  width:300px;
/*   margin: auto; */
    margin-left: auto;
  margin-right: auto;
    border-radius: 3px;

 
}

#looks_title {
  background-color:#DDDDDD;
  width:300px;
/*   margin: auto; */
    margin-left: auto;
  margin-right: auto;
    border-radius: 3px;

}

#looks {
background-color:#DDDDDD;
  width:300px;
  margin-top: -20px;
/*   margin: auto; */  
  margin-left: auto;
  margin-right: auto;
    border-radius: 3px;

}
#personality_title {
  background-color:#DDDDDD;
  width:300px;
/*   margin: auto; */
    margin-left: auto;
  margin-right: auto;
    border-radius: 3px;

}

#personality{
background-color:#DDDDDD;
  width:300px;
  margin-top: -20px;
/*   margin: auto; */
    margin-left: auto;
  margin-right: auto;
    border-radius: 3px;

}


